.principal {
  @extend .flex;
  align-items: center;

  &__logo {
    width: 25vw;
    padding-bottom: 2vh;
  }

  // &__titulo {}

  &__imagen {
    width: 100%;
  }
  &__texto {
    font-weight: 400;
    color: $gris1;
  }
  &__boton {
    cursor: pointer;
    font-weight: 300;
    color: $blanco1;
    border: none;
    background: $verde1;
    a {
      color: $blanco1;
    }
  }
  /* Por revisar */
  &--img-gris {
    filter: grayscale(100%);
  }
}

.columna {
  &--izq {
    text-align: right;
    order: 1;
  }
  &--der {
    text-align: left;
    order: 2;
  }
}

.cta-informacion {
  @extend .flex;
  justify-content: center;
  margin: 6vh 0 10vh 0;
  &__mensaje {
    padding: 0.5vh 3vh 0 0;
  }
  &__boton {
    cursor: pointer;
    display: inline-block;
    padding: 1.5vh 2vh;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    background: $verde1;
    color: $blanco1;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include min-media(320px, portrait) {
  .principal {
    /* Por revisar */
    .logo--interno {
      margin-bottom: 2vh;
    }

    &__logo {
      display: none;
    }

    &__texto {
      font-size: 1rem;
      line-height: 1.5rem;
      &--corto {
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
    }
    &__boton {
      font-size: 0.8rem;
      padding: 1.8vh 2vh;
      margin-top: 2vh;
    }
  }

  .columna {
    width: 100%;
    padding: 1.5vh 0;

    &--izq {
      text-align: left;
    }
    &--der {
      text-align: left;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include min-media(568px, landscape) {
  .principal {
    &__texto {
      font-size: 0.8rem;
      line-height: 1.2rem;
      &--corto {
        font-size: 0.75rem;
        line-height: 1.1rem;
      }
    }
    &__boton {
      font-size: 0.7rem;
      padding: 2vh;
      margin-top: 2vh;
    }
  }

  .columna {
    width: 50%;

    &--izq {
      padding-right: 2vw;
      text-align: right;
    }
    &--der {
      padding-left: 2vw;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include min-media(768px, portrait) {
  .principal {
    // Por revisar
    .logo--interno {
      margin-bottom: 1vh;
    }

    &__texto {
      font-size: 1.1rem;
      line-height: 1.4rem;
      &--corto {
        font-size: 0.95rem;
        line-height: 1.3rem;
      }
    }

    &__boton {
      padding: 1vh 1.5vh;
      margin-top: 1vh;
    }
  }

  .columna {
    &--izq {
      width: 50%;
      padding: 0 2vw 0 0;
      text-align: right;
    }
    &--der {
      width: 50%;
      padding: 0 0 0 2vw;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include min-media(1024px, landscape) {
  .principal {
    &__texto {
      font-size: 1.1rem;
      line-height: 1.6rem;
      &--corto {
        font-size: 0.95rem;
        line-height: 1.4rem;
      }
    }

    &__boton {
      font-size: 0.9rem;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@include min-media(1280px) {
  .principal {
    min-height: 46vh;
    // Por revisar
    .logo--interno {
      margin-bottom: 2.2vh;
    }

    &__texto {
      font-size: 1.4rem;
      line-height: 2rem;
      &--corto {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }

    &__boton {
      font-size: 1rem;
      padding: 1.8vh 2vh;
      margin-top: 2vh;
    }

    &__imagen {
      width: 100%;
    }
  }

  .columna {
    &--izq {
      width: 50%;
      padding-right: 2vw;
      text-align: right;
    }
    &--der {
      width: 50%;
      padding-left: 2vw;
      text-align: left;
    }
  }
}
