// Las variables comienzan con "$"

/* Colores */
$color: red;

$verde-claro: #09b333;

$verde-normal: #007d43;

$verde-oscuro: #00735e;

$verde-boton: #2d7300;

$negro: #050505;

$gris1: #707070;

$gris2: #5f5f5f;

$gris3: #737474;

$blanco: #fff;

/* Contenedores principales */

.flex {
  display: flex;
  flex-wrap: wrap;
}

.centro {
   justify-content: center;
   align-content: center;
}
