@import "../../assets/scss/normalize";
@import "../../assets/scss/variables";

.articulo {
  &__titulo {
    padding: 2vh;
    background-color: $verde1;
    color: $blanco1;
    text-align: center;
  }
  &__descripcion {
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
  &__boton-regreso {
    line-height: 2rem;
    font-weight: 700;
    color: $verde1;
  }
  &__compartir {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    button {
      margin-right: 1vh;
    }
    h3 {
      margin-bottom: 1vh;
    }
  }
}
/* Blog
========================================================================== */
.blog {
  &__lista {
  }
  &__item {
  }
  &__cabecera {
  }
  &__imagen {
  }
  &__titulo {
  }
  &__texto {
  }
  &__botton {
  }
}

/*Articulo*/
.articulo {
  &__imagen {
  }
  &__titulo {
  }
  &__contenido {
  }
  &__boton {
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Blog
========================================================================== */
  .blog {
    &__lista {
    }
    &__item {
    }
    &__cabecera {
    }
    &__imagen {
    }
    &__titulo {
    }
    &__texto {
    }
    &__botton {
    }
  }

  /*Articulo*/
  .articulo {
    &__imagen {
    }
    &__titulo {
    }
    &__contenido {
    }
    &__boton {
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Blog
========================================================================== */
  .blog {
    &__lista {
    }
    &__item {
    }
    &__cabecera {
    }
    &__imagen {
    }
    &__titulo {
    }
    &__texto {
    }
    &__botton {
    }
  }

  /*Articulo*/
  .articulo {
    &__imagen {
    }
    &__titulo {
    }
    &__contenido {
    }
    &__boton {
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .blog {
    margin-top: 10vh;
    &__lista {
      justify-content: space-between;
    }
    &__item {
      width: 30%;
      margin-bottom: 10vh;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    &__cabecera {
      width: 100%;
      height: 19.4vh;
      position: relative;
    }
    &__imagen {
      width: 100%;
      height: 19.4vh;
      position: absolute !important;
      z-index: 1;
      top: 0;
      left: 0;
    }
    &__titulo {
      width: 90%;
      position: absolute;
      bottom: 0px;
      z-index: 2;
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 1vh 2vh;
      color: $blanco1;
      background-color: $verde1;
      opacity: 0.92;
    }
    &__texto {
      font-size: 0.85rem;
      line-height: 1.4rem;
      padding: 2vh;
      background: $blanco2;
    }
    &__botton {
      background: $verde1;
      margin-top: -3vh;
      margin-right: 1.5vh;
      padding: 1.5vh;
      font-size: 0.82rem;
      font-weight: 600;
      color: $blanco1;
    }
  }

  /*Articulo*/
  .articulo {
    margin: 5vh 0;
    &__descripcion {
      font-size: 0.95rem;
      line-height: 1.4rem;
      column-count: 2;
      column-gap: 15px;
    }
    &__boton-regreso {
      font-size: 1rem;
      line-height: 2rem;
    }
    &__imagen {
      height: 45vh;
    }
  }
}
