@import "../assets/scss/normalize";
@import "../assets/scss/variables";

/* Empresas
========================================================================== */

/*------Historia------*/
.historia {
  &__item {
    @extend .flex;
    &:first-child {
      .historia__descripcion {
        .historia__titulo {
          color: $verde1;
        }
        .historia__button {
          background: $verde1;
        }
      }
    }
    &:last-child {
      .historia__descripcion {
        .historia__titulo {
          color: $verde3;
        }
        .historia__button {
          background: $verde3;
        }
      }
    }
  }
  &__texto {
    color: $negro1;
    font-weight: 300;
  }
  &__button {
    cursor: pointer;
    border: none;
    color: $blanco1;
  }  
}

/*------Nosotros------*/
.nosotros {
  &__item {
    cursor: pointer;
    position: relative;
    &:hover {
      transition: 0.5s;
      .nosotros__descripcion {
        opacity: 1;
        transition: all 0.5s;
        visibility: visible;
      }
      .nosotros__imagen {
        filter: grayscale(100%);
      }
    }
    &:nth-child(1) {
      .nosotros__titulo {
        background-color: $verde1;
      }
      .nosotros__descripcion {
        border-bottom: $verde1 solid 2px;
      }
    }
    &:nth-child(2) {
      .nosotros__titulo {
        background-color: $verde2;
      }
      .nosotros__descripcion {
        border-bottom: $verde2 solid 2px;
      }
    }
    &:nth-child(3) {
      .nosotros__titulo {
        background-color: $verde3;
      }
      .nosotros__descripcion {
        border-bottom: $verde3 solid 2px;
      }
    }
  }
  &__imagen {
    position: absolute !important;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &__titulo {
    text-align: center;
    color: $blanco1;
  }
  &__descripcion {
    font-weight: 300;
    color: $negro1;
    background: $blanco2;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    position: absolute;
  }
}

/*------Aliados------*/
.aliados {
  background: $blanco2;
  .descripcion {
    text-align: center;
  }
  &__carrusel {
    @extend .flex;
    justify-content: space-between;
    &-item {
      clip-path: circle(50% at 50% 50%);
      background-color: $gris5;
    }
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Empresas
========================================================================== */

.principal {
  flex-direction: column;
  .columna--left {
    order: 2;
  }
  .columna--right {
    order: 1;
  }
}

  /*------Historia------*/
  .historia {
    margin-top: 8vh;
    &__item {
      width: 100%;
      padding-bottom: 10vh;
    }
    &__image {
      width: 45%;
    }
    &__descripcion {
      width: 100%;
      padding: 1.5vh 0 0 0;
    }
    &__texto {
      font-size: 0.85rem;
      line-height: 1.3rem;
      padding-bottom: 1vh;
    }
    &__button {
      font-size: 0.7rem;
      padding: 1vh 1.5vh;
    }
  }
  .equipo {
    margin-top: 2vh;
  }

  /*------Nosotros------*/
  .nosotros {
    margin: 7vh 0 10vh 0;
    &__item {
      width: 100%;
      height: 30vh;
    }
    &__imagen {
      width: 100%;
      height: 30vh;
    }
    &__titulo {
      padding: 1.5vh 0;
      margin-top: 12vh;
    }
    &__descripcion {
      min-height: 12.5vh;
      padding: 2vh;
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  }

  /*------Aliados------*/
  .aliados {
    margin-bottom: 7vh;
    padding: 3vh;
    &__carrusel {
      padding-top: 4vh;
      &-item {
        width: 40%;
        height: 20vh;
        margin: 2vh;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Empresas
========================================================================== */

  /*------Historia------*/
  .historia {
    &__item {
      padding-bottom: 7vh;
    }
    &__image {
      width: 20%;
    }
    &__descripcion {
      width: 80%;
      padding: 0 0 0 2vh;
    }
    &__texto {
      font-size: 0.95rem;
      line-height: 1.5rem;
    }
    &__button {
      font-size: 0.8rem;
      padding: 1vh;
    }
  }

  .equipo {
    margin-top: 3vh;
  }

  /*------Nosotros------*/
  .nosotros {
    margin: 4vh 0vh 8vh 0vh;
    &__item {
      width: 33.3333333%;
      height: 23.67vh;
    }
    &__imagen {
      width: 100%;
      height: 23.67vh;
    }
    &__titulo {
      padding: 1vh 0;
      margin-top: 09vh;
    }
    &__descripcion {
      min-height: 12.5vh;
    }
  }

  /*------Aliados------*/
  .aliados {
    margin-bottom: 8vh;
    padding: 3vh 7vh;
    &__carrusel {
      padding-top: 2vh;
      &-item {
        width: 10%;
        height: 5vh;
        margin: 1vh;
      }
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  /* Empresas
========================================================================== */

  /*------Historia------*/
  .historia {
    margin-top: 12vh;
    &__item {
      width: 50%;
    }
    &__image {
      width: 33%;
    }
    &__descripcion {
      width: 67%;
      padding: 0 6vh 0 3vh;
    }
    &__titulo {
      padding-bottom: 1vh;
    }
    &__texto {
      font-size: 1rem;
      line-height: 1.6rem;
      padding-bottom: 2vh;
    }
    &__button {
      font-size: 0.8rem;
      padding: 1vh 1.5vh;
    }
    &__descripcion p  {
      font-size: 0.85rem;
      color: $negro1;
    }
  
  }
  
  .equipo {
    margin-top: 12vh;
  }

  /*------Nosotros------*/
  .nosotros {
    margin: 10vh 9vh 17vh;
    &__item {
      width: 33.3333333%;
      height: 30vh;
    }
    &__imagen {
      width: 100%;
      height: 30vh;
    }
    &__titulo {
      padding: 1.5vh 0;
      margin-top: 12vh;
    }
    &__descripcion {
      min-height: 12.5vh;
      padding: 2vh;
      font-size: 0.95rem;
      line-height: 1.4rem;
    }
  }

  /*------Aliados------*/
  .aliados {
    margin-bottom: 12vh;
    padding: 3vh 7vh 5vh;
    &__carrusel {
      width: 100%;
      height: 20vh;
      padding-top: 4vh;
      &-item {
        width: 13%;
        height: 16.5vh;
      }
    }
  }
}
