@import "../assets/scss/normalize";
@import "../assets/scss/variables";

/* Legal
========================================================================== */

/*------Etica------*/
.etica {
  @extend .flex;
  justify-content: space-between;
  &__titulo {
    color: $verde2;
    text-align: left;
  }
  &__texto {
    color: $negro1;
    font-weight: 300;
    border-bottom: $gris5 3px solid;
  }
}

/*------Normativas------*/
.normativas {
  &__item {
    @extend .flex;
    justify-content: space-between;
    &:nth-child(1) {
      .normativas__descarga {
        .normativas__ver {
          background: $verde1;
        }
        .normativas__down {
          color: $verde1;
        }
      }
    }
    &:nth-child(2) {
      .normativas__descarga {
        .normativas__ver {
          background: $verde2;
        }
        .normativas__down {
          color: $verde2;
        }
      }
    }
    &:nth-child(3) {
      .normativas__descarga {
        .normativas__ver {
          background: $verde3;
        }
        .normativas__down {
          color: $verde3;
        }
      }
    }
    &:nth-child(4) {
      .normativas__descarga {
        .normativas__ver {
          background: $verde4;
        }
        .normativas__down {
          color: $verde4;
        }
      }
    }
    &:nth-child(5) {
      .normativas__descarga {
        .normativas__ver {
          background: $verde5;
        }
        .normativas__down {
          color: $verde5;
        }
      }
    }
  }
  &__ver {
    cursor: pointer;
    width: 100%;
    color: $blanco2;
    border: none;
  }
  &__down {
    cursor: pointer;
    width: 100%;
    background: $blanco2;
    border: none;
  }
  &__contenido {
    font-weight: 500;
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    margin-top: 8vh;
    &__imagen {
      width: 100%;
    }
    &__titulo {
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
    &__texto {
      font-size: 0.85rem;
      line-height: 1.2rem;
      padding-bottom: 2vh;
    }
  }

  /*------Normativas------*/
  .normativas {
    margin-top: 9vh;
    margin-bottom: 5vh;
    &__item {
      margin-top: 4vh;
      margin-bottom: 4vh;
    }
    &__descarga {
      width: 12%;
    }
    &__ver,
    &__down {
      padding: 0.7vh 0;
    }
    &__contenido {
      width: 84%;
      font-size: 0.85rem;
      line-height: 1.4rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    margin-top: 14vh;
    &__imagen {
      width: 31%;
    }
    &__contenido {
      width: 67%;
    }
    &__titulo {
      margin-bottom: 1vh;
    }
    &__texto {
      font-size: 1rem;
      line-height: 1.4rem;
      padding-bottom: 2vh;
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 3em;
      column-gap: 3em;
    }
  }

  /*------Normativas------*/
  .normativas {
    margin-top: 14vh;
    margin-bottom: 10vh;
    &__lista {
      margin-top: 6vh;
    }
    &__item {
      width: 33.333333%;
      padding: 3vh 2vh;
    }
    &__descarga {
      width: 14%;
    }
    &__ver,
    &__down {
      padding: 0.7vh 0;
    }
    &__contenido {
      width: 83%;
      padding-right: 3vh;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}
