@import "../assets/scss/normalize";
@import "../assets/scss/variables";

/* Legal
========================================================================== */

/*------Etica------*/
.etica {
  @extend .flex;
  justify-content: space-between;
  &__titulo {
    color: $verde1;
    text-align: left;
  }
  &__texto {
    color: $negro1;
    font-weight: 300;
    border-bottom: $gris5 3px solid;
  }
}

/*------Normativas------*/
.normativas {
  &__item {
    @extend .flex;
    justify-content: space-between;
    .normativas__descarga {
      .normativas__ver {
        background: $verde1;
      }
      .normativas__down {
        color: $verde1;
      }
    }
  }
  &__ver {
    cursor: pointer;
    width: 100%;
    color: $blanco2;
    border: none;
  }
  &__down {
    cursor: pointer;
    width: 100%;
    background: $blanco2;
    border: none;
  }
  &__contenido {
    font-weight: 500;
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    margin-top: 8vh;
    &__imagen {
      width: 100%;
    }
    &__titulo {
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
    &__texto {
      font-size: 0.85rem;
      line-height: 1.2rem;
      padding-bottom: 2vh;
    }
  }

  /*------Normativas------*/
  .normativas {
    margin-top: 9vh;
    margin-bottom: 5vh;
    &__item {
      width: 100%;
      margin-top: 4vh;
      margin-bottom: 4vh;
    }
    &__descarga {
      width: 12%;
    }
    &__ver,
    &__down {
      padding: 0.7vh 0;
    }
    &__contenido {
      width: 84%;
      font-size: 0.85rem;
      line-height: 1.4rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    margin-top: 15vh;
    &__imagen {
      width: 35%;
      margin-bottom: 3vh;
    }
    &__titulo {
      margin-bottom: 1.5vh;
    }
    &__texto {
      font-size: 0.85rem;
      line-height: 1.3rem;
      padding-bottom: 3vh;
    }
  }

  /*------Normativas------*/
  .normativas {
    margin: 17vh 0 14vh 0;
    &__item {
      width: 100%;
      padding: 7vh 0;
    }
    &__descarga {
      width: 8%;
    }
    &__ver,
    &__down {
      padding: 0.7vh 0;
    }
    &__contenido {
      width: 89%;
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    margin-top: 6vh;
    &__imagen {
      width: 40%;
      margin-bottom: 1vh;
    }
    &__titulo {
      margin-bottom: 1vh;
    }
    &__texto {
      font-size: 0.9rem;
      line-height: 1.4rem;
      padding-bottom: 2vh;
    }
  }

  /*------Normativas------*/
  .normativas {
    margin: 6vh 0 5vh;
    &__lista {
      margin-top: 3vh;
    }
    &__item {
      margin-top: 2vh;
      margin-bottom: 2vh;
      padding-left: 2vh;
      padding-right: 2vh;
      width: 50%;
    }
    &__descarga {
      width: 14%;
    }
    &__ver,
    &__down {
      padding: 0.7vh 0;
    }
    &__contenido {
      width: 83%;
      padding-right: 3vh;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    margin-top: 10vh;
    &__contenido {
      width: 63%;
    }
    &__texto {
      font-size: 0.9rem;
      padding-bottom: 2vh;
    }
  }

  /*------Normativas------*/
  .normativas {
    margin: 12vh 0;
    &__lista {
      margin-top: 4vh;
    }
    &__item {
      width: 33.333333%;
      padding: 3vh 2vh 3vh;
    }
    &__descarga {
      width: 12%;
    }
    &__contenido {
      width: 84%;
    }
  }
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  /* Legal
========================================================================== */

  /*------Etica------*/
  .etica {
    &__imagen {
      width: 31%;
      margin-bottom: 0;
    }
    &__contenido {
      width: 67%;
    }
    &__texto {
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 3em;
      column-gap: 3em;
      font-size: 0.98rem;
      line-height: 1.4rem;
    }
  }

  /*------Normativas------*/
  .normativas {
    &__contenido {
      font-size: 0.9rem;
    }
  }
}
