@import "../assets/scss/normalize";
@import "../assets/scss/variables";

/* Responsabilidad
========================================================================== */

.contribuciones {
  @extend .flex;
  justify-content: center;
  &__lista {
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 1vh;
    border-bottom: solid 2px $gris5;
    &:hover {
      z-index: 10;
      cursor: pointer;
      .contribuciones__descripcion {
        opacity: 1;
        transition: all 0.5s;
      }
    }
    .contribuciones__titulo {
      color: $verde1;
    }
    .contribuciones__descripcion {
      border-bottom: $verde1 2px solid;
    }
    .contribuciones__icono {
      color: $verde1;
    }
  }
  &__titulo {
    width: 100%;
    font-weight: 800;
  }
  &__descripcion {
    margin-top: 4vh;
    padding: 2.5vh;
    position: absolute;
    opacity: 0;
    background: $blanco2;
    z-index: -5;
  }
  &__flecha {
    position: absolute;
    right: 1vw;
    top: 1vh;
    cursor: pointer;
  }
}

.causas {
  @extend .flex;
  justify-content: center;
  .descripcion a {
    color: $verde1;
  }
  &__lista {
    justify-content: space-between;
  }
  &__item {
    @extend .flex;
    justify-content: space-between;
    .causas__imagen {
      border: $verde1 3px solid;
    }
  }
  &__imagen {
    border-radius: 50%;
  }
  &__texto {
    color: $gris2;
    font-weight: 800;
  }
  h2 {
    width: 100%;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .contribuciones {
    margin-top: 8vh;
    width: 100%;
    &__lista {
      margin-top: 2vh;
    }
    &__item {
      width: 100%;
      margin-bottom: 7vh;
    }
    &__descripcion {
      font-size: 0.85rem;
      line-height: 1.3rem;
      padding-top: 1.5vh;
      padding-bottom: 2vh;
    }
    &__flecha {
      width: 3vw;
    }
  }

  .causas {
    margin-top: 6vh;
    &__lista {
      margin-top: 4vh;
    }
    &__item {
      margin-bottom: 7vh;
    }
    &__imagen {
      width: 25%;
      height: 12.5vh;
      margin: 0 auto;
    }
    &__texto {
      text-align: left;
      padding-top: 1vh;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@media only screen and (min-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .contribuciones {
    margin: 8vh 15vh;
    &__lista {
      margin-top: 3vh;
    }
    &__item {
      width: 100%;
      margin: 12vh 0 0;
    }
    &__descripcion {
      margin-top: 10vh;
      font-size: 0.85rem;
      line-height: 1.3rem;
      padding-top: 1.5vh;
      padding-bottom: 2vh;
    }
    &__flecha {
      width: 2vw;
    }
  }

  .causas {
    margin-top: 18vh;
    margin-bottom: 10vh;
    &__lista {
      margin: 6vh 15vh 0;
    }
    &__item {
      width: 100%;
      align-items: center;
      margin-bottom: 14vh;
    }
    &__imagen {
      width: 20%;
      height: 28vh;
    }
    &__texto {
      width: 75%;
      font-size: 1rem;
      line-height: 1.3rem;
      text-align: left;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .contribuciones {
    margin: 10vh 0 0 0;
    &__lista {
      margin-top: 3vh;
    }
    &__item {
      margin: 0 4vw 6vw;
    }
    &__descripcion {
      font-size: 1rem;
      line-height: 1.5rem;
      padding-bottom: 2vh;
    }
    &__flecha {
      width: 2vw;
    }
  }

  .causas {
    margin-top: 6vh;
    margin-bottom: 6vh;
    &__lista {
      margin: 4vh 8vh 0;
    }
    &__item {
      width: 100%;
      align-items: center;
      margin-bottom: 5vh;
    }
    &__imagen {
      width: 15%;
      height: 8.2vh;
    }
    &__texto {
      width: 75%;
      font-size: 1.15rem;
      line-height: 1.7rem;
      text-align: left;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
}

/*-------------------------------------------- Desktop responsive --------------------------------------------*/
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .contribuciones {
    margin: 10vh 0 0;
    &__lista {
      margin-top: 7vh;
    }
    &__item {
      flex: 1 1;
      margin: 0 1.5vw;
    }
    &__descripcion {
      font-size: 1rem;
      line-height: 1.5rem;
      padding-bottom: 2vh;
    }
    &__flecha {
      width: 1vw;
    }
  }

  .causas {
    margin-top: 14vh;
    margin-bottom: 6vh;
    &__lista {
      margin: 6vh 0;
    }
    &__item {
      width: 30%;
      align-items: center;
      margin-bottom: 0vh;
    }
    &__imagen {
      width: 23%;
      height: 11.2vh;
    }
    &__texto {
      width: 72%;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}
