.planilla {
  margin-top: 2rem;
  min-width: 54.375rem;
  width: 100%;
  max-width: 100%;
  min-height: 80vh;
  border: 1px solid $gris5;
}

.planilla__cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planilla__titulo {
  text-transform: uppercase;
  text-wrap: balance;
  max-width: 50%;
  text-align: start;
  border-left: 4px solid #006548;
  font-weight: 600;
  padding-left: 1rem;
}

.planilla__cuerpo {
  margin-top: 1.5rem;
}

.planilla__seccion1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  border: 2px solid #006548;
  padding: .8rem;
  border-radius: 1rem;
  font-size: 12px;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.planilla__seccion2 {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  border-radius: 1rem;
  font-size: 12px;
} 

.planilla__seccion2-titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  background: #006548;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.planilla__seccion2-contenedor {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 1fr 1fr;
  font-size: 12px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.seccion2__item {
  padding: .4rem .8rem 1rem;
  border: 1px solid #006548;
}

.seccion2__item::first-letter {
  text-transform: uppercase;
}

.seccion2__item:last-child {
  grid-column: span 2;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.seccion3__line1 {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  font-size: 12px;
  border-bottom: none;
}

.seccion3__line1-item {
  padding: .4rem .8rem 1rem;
  border: 1px solid #006548;
}

.seccion3__line2 {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 40.5% 1fr;
  font-size: 12px;
  border-bottom: none;
}

.seccion3__line3 {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: 40.3% 33.5% 1fr;
  font-size: 12px;
}

.seccion3__line2-item, .seccion3__line3-item, .seccion3__line5-item, .seccion3__line6-item, .seccion3__line8-item {
  padding: .4rem .8rem 1rem;
  border: 1px solid #006548;
}

.seccion3__line2-item {
  border-top: none;
}


.seccion3__line3-item {
  border-top: none;
  border-bottom: none;
}

.seccion3__line4 {
  border: 1px solid #006548;
  width: 100%;
  font-size: 12px;
  padding: .4rem .8rem 1rem;
  border-left: 2px solid #006548;
  border-right: 2px solid #006548;
}

.seccion3__line5 {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 20.5% 1fr;
  font-size: 12px;
  border-bottom: none;
}

.seccion3__line5-item {
  border-top: none;
}

.seccion3__line6 {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: 24.3% 33.5% 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  font-size: 12px;
  text-wrap: balance;
  border-top: none;
}

.seccion3__line7 {
  border: 1px solid #006548;
  width: 100%;
  font-size: 12px;
  padding: .4rem;
  border-left: 2px solid #006548;
  border-right: 2px solid #006548;
  border-top: none;
  text-align: center;
}

.seccion3__line8 {
  border: 1px solid #006548;
  width: 100%;
  display: grid;
  grid-template-columns: 24.3% 33.5% 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  font-size: 12px;
  text-wrap: balance;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.seccion3__line8-item:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}