
.steps-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}

.steps-ol {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  z-index: 1;
  list-style: none;
}

.steps-li {
  text-align: center;
  flex: 1 0 auto;
}

.steps-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.steps-span {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blanco1;
  color: #000;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.5rem;

  &.active {
    background-color: $verde1;
    color: $blanco1;
    border: 1px solid $verde1;
  }
}

.progress {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -1;
  top: 1rem;
  right: 1rem;
  position: relative;
  border: .0313rem solid #f3f3f3;
  background-color: #f3f3f3;
  pointer-events: none;
  grid-row: 1 / -1;
  width: 100%;
  height: 0.1rem;

  &-span {
    height: 100%;
    width: 100%;
    display: flex;
  }

  &-bar {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    border: 1px solid $verde1;
    border-width: 1.5px;
  }
}

.steps-form-wrapper {
  background-color: $blanco2;
  padding: 3rem;
  // height: 30rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps-form__header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;

  & h1:first-child {
    color: #2D2D2D;
    margin-bottom: 0;
  }
}

.steps-form__footer {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  margin-top: 2rem;

  & button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  & button.prev {
    background: $gris1;
  }
}

.steps-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__group {
    display: flex;
    gap: 1rem;
  }

  &__group-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1 0 auto;
  }

  &__collection {
    padding: 1.5rem;
    background-color: $blanco1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    & .delete-action {
      position: absolute;
      right: 2rem;
      border: none;
      background: transparent;
      color: rgb(185, 35, 35);
    }
  }

  .add-action {
    padding: .4rem;
    border: 1px solid $verde6;
    font-size: 14px;
    color: $blanco1;
    // align-self: center;
    background: $verde6;
  }

  .checkbox-label {
    color: $gris1;

    & input[type="radio"],
    & input[type="checkbox"] {
      margin-right: 1rem;
      padding: 1rem;
      accent-color: $verde6;
    }
  }

  &__checkbox {
    flex: 1 0 auto;
  }

  &__input {
    flex: 1 0 auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .8rem;
    border: 1px solid #AAAAAA;

    &--2 {
      flex: 1 0 55%;
    }
  }

  h4 {
    font-size: 1.25rem;
    color: $gris1;
    text-align: center;
  }

  h6 {
    font-weight: 600;
    font-size: 17px;
    line-height: 22.5px;
    color: $gris1;
  }

  .status {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      margin-top: 1rem;
      line-height: 1.1;
      color: #2D2D2D;
    }

    p {
      margin-top: 0.4rem;
      line-height: 1.1;
      color: $gris1;
      font-weight: 600;
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      display: flex;
      gap: 0.5rem;
      background-color: $verde1;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.accept-text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 22.5px;
  color: $gris1;
}

/* HTML: <div class="loader"></div> */
.steps-form-loader {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,$verde1 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,$verde1);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: spinner 1s infinite linear;
  
    &-text {
      margin-top: 1rem;
    }
  }
}

@keyframes spinner { 
  100%{transform: rotate(1turn)}
}

.alert-error {
  font-size: .75rem;
  color: rgb(185, 35, 35);
}
