* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-outline {
  -webkit-text-stroke: 0.2px black;
}

.button-primary {
  @apply inline-block cursor-pointer bg-maximiza-verde1 px-6 py-3 text-base font-light text-maximiza-blanco1 transition-colors hover:bg-maximiza-verde6 xl:text-lg;
}

.button-primary {
  @apply inline-block cursor-pointer bg-maximiza-verde1 px-6 py-3 text-base font-light text-maximiza-blanco1 transition-colors hover:bg-maximiza-verde6 xl:text-lg;

  &.--medium {
    @apply px-4 py-2 text-sm;
  }

  &.--small {
    @apply px-2 py-1 text-sm;
  }
}

.button-secondary {
  @apply inline-block cursor-pointer border border-maximiza-gris5 bg-maximiza-blanco2 px-6 py-3 text-base font-light text-maximiza-gris3 transition-colors hover:bg-maximiza-gris5 xl:text-lg;

  &.--medium {
    @apply px-4 py-2 text-sm;
  }

  &.--small {
    @apply px-2 py-1 text-sm;
  }
}

.button-danger {
  @apply inline-block cursor-pointer border border-maximiza-error bg-maximiza-error/90 px-6 py-3 text-base font-light text-maximiza-blanco1 transition-colors hover:bg-maximiza-error xl:text-lg;

  &.--medium {
    @apply px-4 py-2 text-sm;
  }

  &.--small {
    @apply px-2 py-1 text-sm;
  }
}

.hero-title {
  @apply mb-2 text-2xl font-black text-maximiza-verde1 md:text-3xl;
}

.prose {
  p {
    @apply mb-4;

    &:last-child {
      @apply mb-0;
    }
  }

  strong {
    @apply font-black;
  }

  a {
    @apply text-maximiza-verde1 transition-colors hover:text-maximiza-verde6;
  }
}

/* PDF */
